@import './../../../assets/variables';
@import './../../../assets/mixins';


mat-tab-group {
  margin-bottom: 40px;
}
.tab-body-wrap {
  padding: 15px 30px;
}
.tab-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.mat-divider {
  margin-bottom: 40px;
}
.tab-items-wrap {
  margin-bottom: 40px;
  position: relative;
}

.addtodolist-form {
  /* input {
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid $gray-900;
  } */
  mat-form-field {
    width: 350px;
    max-width: 100%;
  }
}

.filter-wrap {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px;
  mat-form-field {
    width: 350px;
    max-width: 100%;
  }
}