<h2>Zoznam kontaktov</h2>


<mat-card class="example-card">
  <mat-card-header>
    <mat-card-subtitle>Meno</mat-card-subtitle>
    <mat-card-title>Peter</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    <p>Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. </p>
    <mat-divider></mat-divider>
    <p>Donec fringilla vitae odio sed vehicula. Sed ultricies sem scelerisque, ullamcorper quam eu, commodo velit. Proin vehicula diam sit amet ornare maximus. Integer in felis at dui vehicula laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
  </mat-card-content>
</mat-card>    
